.vscode
node_modules
dist
bundle
build
.DS_Store
.idea

# Yarn related files
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Testing files
template.txt
output.txt
test.js
